global
 log /dev/log local0
 log /dev/log local1 notice
 chroot /var/lib/haproxy
 stats socket /run/haproxy/admin.sock mode 660 level admin
 stats timeout 30s
 user haproxy
 group haproxy
 daemon

defaults
 log global
 mode http
 option httplog
 option dontlognull
 timeout connect 5000
 timeout client 50000
 timeout server 50000

frontend http_front
 bind *:80
 stats uri /haproxy?stats
 acl url_blog path_beg /blog
 use_backend blog_back if url_blog
 default_backend http_back

backend http_back
 balance roundrobin
 server {{ SERVER_NAME }} {{ PRIVATE_IP }}:80 check

backend blog_back
 server {{ BACKEND_SERVER_NAME }} {{ BACKEND_PRIVATE_IP }}:80 check

listen stats
 bind *:{{ PORT }}
 stats enable
 stats uri /
 stats realm Haproxy\ Statistics
 stats auth {{ USERNAME }}:{{ PASSWORD }}
